
#app {
  background-color: $cbg;
}

.els {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.link {
  font-size: 12px;
  font-weight: 400;
}
.show {
  display: "block";
}
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}

.mr_10 {
  margin-right: 10px;
}
.mt_10 {
  margin-top: 10px;
}
.mb_10 {
  margin-bottom: 10px;
}
.ml_10 {
  margin-left: 10px;
}

.mr_15 {
  margin-right: 15px;
}
.mt_15 {
  margin-top: 15px;
}
.mb_15 {
  margin-bottom: 15px;
}
.ml_15 {
  margin-left: 15px;
}
.mb_20 {
  margin-bottom: 20px;
}
.ml_20 {
  margin-left: 20px;
}
.dis_ac {
  display: flex;
  align-items: center;
}

.dis_aj {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cup {
  cursor: pointer;
}
.dis_asb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dis_ase {
  display: flex;
  align-items: center;
  justify-content: end;
}
.dis_ .dis_jc {
  display: flex;
  justify-content: center;
}
.dis_jsb {
  display: flex;
  justify-content: space-between;
}
.div_height_32 {
  height: 32px;
}

.bag_fff {
  background-color: #fff;
}

.no-item-style {
  margin-bottom: 0 !important;
}
