$headerMenuBagColor: #3c3d5d;

$cbg: #f4f6f8;
$color_eee: #eee;
$color_666: #666;
$color_fff: #fff;
$color_000: #000;
$color_333: #333;
$color_aaa: #aaa;
$el-menu-bg-color: #3c3d5d;
$mp_15: 15px;
$mp_14: 14px;
$mp_12: 12px;
$mp_10: 10px;
$mp_5: 5px;
$menu_height: 40px;
